name: Deploy via SSH

on:
  push:
    branches:
      - main # 当推送到 main 分支时触发

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 使用 appleboy/ssh-action 登录服务器并执行命令
      - name: Deploy using SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          # 从 GitHub Secrets 获取连接信息
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.BWH }}
          # 端口 (可选，默认为 22)
          port: 28022

          # 要在服务器上执行的命令或脚本
          script: |
            echo "--- 开始部署流程 ---"
            echo $host
            # 1. 切换到项目目录
            cd /home/deploy
            
            # 2. 从 Git 仓库拉取最新代码
            git pull origin main
            
            # 3. 运行安装和构建（如果是 Node.js 项目）
            
            # 4. 重启服务（例如使用 systemctl 重启一个服务）
     
            
            echo "--- 部署完成 ---"
